* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    text-align: center;
    background: rgb(36, 36, 36);
    color: white;
    padding-top: 250px;
    overflow: hidden;
}

h3 {
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    font-family: arial;
    position: relative;
    transition: 0.3s;
}

h3::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 47%;
    width:0%;
    height: 10%;
    background: crimson;
    transition: 1s;
}

h3:hover::after {
    width: 6%;
}




